# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Zhangfan
	email = dong.zhangfan@gmail.com
[core]
	autocrlf = input
	excludesfile = /Users/zhangfandong/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
